<h2 style="color: #1976D2;">Lista de Empréstimos</h2>

<div *ngIf="loading">Carregando...</div>

<table *ngIf="!loading" border="1" cellpadding="8" width="100%">
  <thead>
    <tr>
      <th>ID</th>
      <th>Cliente ID</th>
      <th>Data</th>
      <th>Vencimento</th>
      <th>Moeda</th>
      <th>Valor</th>
      <th>Exchange Rate</th>
<th>Valor em BRL</th>
<th>Meses</th>
<th>Valor Final</th>

      <th>Pago</th>
      <th>Ações</th>

    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let l of loans">
      <td>{{ l.id }}</td>
      <td>{{ l.customerId }}</td>
      <td>{{ l.loanDate }}</td>
      <td>{{ l.dueDate }}</td>
      <td>{{ l.currency }}</td>
      <td>{{ l.amount }}</td>
      <td>{{ l.exchangeRate }}</td>
<td>{{ l.amountInBRL }}</td>
<td>{{ l.months }}</td>
<td>{{ l.finalAmount }}</td>


    <td [ngClass]="l.paid ? 'paid-true' : 'paid-false'">
  {{ l.paid ? 'Sim' : 'Não' }}
</td>
<td class="btns">
  <button class="btn-details" (click)="goToDetails(l.id)">Detalhes</button>
  <button class="btn-edit" (click)="goToEdit(l.id)">Editar</button>
  <button class="btn-delete" (click)="deleteLoan(l.id)">Excluir</button>
   <button *ngIf="!l.paid" class="btn-paid" (click)="markAsPaid(l.id)">Dar como Pago</button>
</td>

    </tr>
  </tbody>
</table>
