<nav class="navbar">
  <ul class="nav-group">
    <li class="dropdown">
      <a href="#">Clientes</a>
      <ul class="dropdown-menu">
        <li><a routerLink="/customers">Listar Clientes</a></li>
        <li><a routerLink="/customers/create">Criar Cliente</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <a href="#">Empréstimos</a>
      <ul class="dropdown-menu">
        <li><a routerLink="/loans">Listar Empréstimos</a></li>

      </ul>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
